.footer-main{
    background-color: #2B0A59;
    text-align: center;
    bottom:0%;
    position: absolute;
    width: 100%;
    background-size: cover;
    max-height: 110px;
    padding: 20px 50px;
    color:white;
    justify-content: center;
  ;    
}
.footer-main .footer-left{
	float: left;
  margin-left: 3px;
}

.iconfooter{
  max-width: 30px;
  max-height: 30px;
}
.footer-main .copyright{
  font-size: 10px;
}
.footer-main .CompanyName{
  font-size: 30px;
  font-family: Menlo, monospace;
}



.footer-main .footer-right {
  line-height: 4.6;
  font-family: Menlo, monospace;
  
}
.footer-main .footer-ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 80px;
  justify-items: center;
  margin: auto;
  list-style-type: none;
}
@media (min-width: 500px) {
  .footer-main .footer-ul {
    grid-auto-flow: column;
  }
}
.footer-a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
.footer-a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}