

@function textShadow($precision, $size, $color){
  $value: null;
  $offset: 0;
  $length: $size * (1 / $precision) - 1;

  @for $i from 0 through $length {
    $offset: $offset + $precision;
    $shadow: $offset + px $offset + px $color;
    $value: append($value, $shadow, comma);
  }

  @return $value;
}

.playful span {
  position: relative;
  
  animation: scatter 1.75s infinite;
}

.playful span:nth-child(2n) {
  
  animation-delay: 0.3s;
}

.playful span:nth-child(3n) {
  
  animation-delay: 0.15s;
}

.playful span:nth-child(5n) {
 
  animation-delay: 0.4s;
}

.playful span:nth-child(7n), .playful span:nth-child(11n) {

  animation-delay: 0.25s;
}

@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}



.playful {
  font-size: 65px;
  text-transform: uppercase;

  font-weight: normal;
  display: block;
  width: 300px;
  max-width: 80vw;
  min-height: 90px;
  height: auto;
  text-align: center;
  
}

.homesection{
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
  z-index: -1;
background-color:#6EC0A9;
}

.homesection:nth-child(2) {
  z-index: -2;
  background-color: #E485F8;
}

.homesection:nth-child(3) {
 background-color:#181c3f;
	z-index: -3;
}

.homesection:last-child {
  z-index: -4;
}


